<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Developer</title>
</head>
<body>
    <%- include('partials/navigation') %> 
    <h1>About the Developer</h1>
    <p>This blog was created by Yaroslav Shvets. For more information, visit my GitHub: <a href="https://github.com/YaroslavShvets1119/lab1">GitHub Profile</a>.</p>
    <a href="/">Back to Blog</a>
</body>
</html>
